@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,400&display=swap');

input, textarea{
    width: 380px;
    height: 30px;
    margin: 10px;
    border-width: 2px;
    border-radius: 10px;
    border-color: #4CAF50;
    font-family: 'Montserrat', sans-serif;
}

textarea{
    resize: none;
}

input:active{
    border-color: #4CAF50;
}

input:focus, textarea:focus{
    outline: none;
    box-shadow: 0 0 10px #4CAF50;
}

.danger{
    border: 2px solid red;
}

.danger:focus, .danger textarea:focus{
    outline: none;
    box-shadow: 0 0 10px red;
}

button{
    border: 1px solid green;
    background-color:  #4CAF50;
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: inherit;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
}

button:disabled{
    background-color:  #4CAF50;
    opacity: 70%;
}

.bgr{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.lds-circle {
    display: block;
    transform: translateZ(1px);
    margin: 25% 50%;
}

.lds-circle > div {
    display: block;
    width: 128px;
    height: 128px;
    margin: 16px;
    border-radius: 50%;
    background: green;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}