@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,400&display=swap');

input, textarea{
    width: 380px;
    height: 30px;
    margin: 10px;
    border-width: 2px;
    border-radius: 10px;
    border-color: #4CAF50;
    font-family: 'Montserrat', sans-serif;
}

textarea{
    resize: none;
}

input:active{
    border-color: #4CAF50;
}

input:focus, textarea:focus{
    outline: none;
    box-shadow: 0 0 10px #4CAF50;
}

.danger{
    border: 2px solid red;
}

.danger:focus, .danger textarea:focus{
    outline: none;
    box-shadow: 0 0 10px red;
}

button{
    border: 1px solid green;
    background-color:  #4CAF50;
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: inherit;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
}