.header{
    width: 800px;
    margin: 0 auto;
}

.header-nav{
    list-style: none;
    display: flex;
    margin-bottom: 5px;
    height: 50px;
}

.home, .add, .remove-all, .logout{
    color: #fff;
    font-weight: bold;
}

a.home{
    background-color: black;
    width: 550px;
    margin-right: 2px;
    padding: 13px;
}

a.add{
    padding-top: 5px;
}

a.remove-all, a.logout{
    padding-top: 15px;
}

a.add, a.remove-all, a.logout{
    background-color: black;
    width: 250px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 2px;
    font-size: 1rem;
}

a:hover{
    background-color: #4caf50;
}

a.remove-all:hover{
    background-color: #FC6F53;
}

a.logout:hover{
    background-color: #9A54B0;
}

a.home.active, a.add.active{
    background-color: #4CAF50;
}


