@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,400&display=swap');

.container{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 50px auto 0;
    align-items: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif
}

*{
    text-decoration: none;
}

.app-hr{
    width: 798px;
    height: 1px;
    background-color: black;
    margin: 0;
    padding: 0;
}

.bgr{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: -50px;
}

.lds-circle {
    display: block;
    transform: translateZ(1px);
    margin: 25% 50%;
}
.lds-circle > div {
    display: block;
    width: 128px;
    height: 128px;
    margin: 16px;
    border-radius: 50%;
    background: green;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}

.swal-overlay:before{
    height: 50%;
}

.swal-button{
    background-color: #4caf50;
}